 .browser-games-container {
    display: flex;   
    margin-left: 2rem;    
}

.browser-games-container-title {
    color: #fff;
}

.teste-container {
    background-color: aqua;
    margin-left: 2rem;
    max-width: 70vw;
}

