#root {
  text-align: center;
  width: 100%;
}

body, html {
  margin: 0;
  padding: 0;
}

/*Estilo do Header*/

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-top: 3rem; */
  background-color:#080204;
  height: 15vh;
}

nav {
  padding: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 2rem;
  cursor: pointer;
  color: #f0efef;
  font-size: 18px;
  border-bottom: 5px solid transparent; 
  transition: background-color 0.8s ease-in-out; 
}

li:hover {  
  border-bottom: 1px solid #1a6e55;
}

/*Estilo da animação da nav-categories*/
.categories-nav li {
  transition: transform 0.3s ease, z-index 0.3s ease;
  position: relative;
  border-bottom: none;
}

.categories-nav li:hover {
  transform: translateY(-10px); 
  z-index: 1; 
}

/*tooltip do icon-cart do nav-home*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #1a6e55;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%; 
  left: 50%;
  margin-left: -60px; 
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*Estilos da Section Home*/

.home {
  background-image: url('./assets/img/top-view-vinyl-record-arrangement.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100vw;
}

h1 {
  font-family: 'Audiowide', sans-serif;
  font-size: 62px;
  margin-top: 5rem;
  color: #f0ffff;
  margin-bottom: 1rem;
}

h3 {
  color: #f0efef;
  margin-bottom: 5rem;
}

/* SearchBar.css */
label {
  display: flex;  
  justify-content: center;
  margin-left: 5rem;
  margin-top: 1rem;
}

input {
  padding: 8px;
  border:none;
  border-radius: 4px;
  margin-right: 8px;
  outline: none;
  width: 400px;
}

img {
  width: 40px;
  height: 40px;
  cursor: pointer;  
}

/*Estilos do Aside*/
.aside-title {
  color: #080204;
  margin-top: 3rem;
}

.aside-image {
  width: 100px;
  height: 100px;
}

.right-block {
  width: 272px;
  flex-direction: column;
  text-align: left;
  margin: 3rem 3rem;
}

.header-small-news {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-bottom: 26px;
}

.line {
 border-bottom: 4px solid #d55e22;
 width: 66px; 
 margin-top: 14px;
 margin-left: auto;
 margin-right: auto;
}

.card-right {
  display: flex; 
}

.card-right:nth-child(n) {
  margin-bottom: 22px;
}

.card-right:last-child {
  margin-bottom: 0px;
}

.card-name-right {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin-top: 6px;
}

.photo_news-right img {
  box-sizing: border-box;
  margin-right: 18px;
  width: 70px;
  height: 70px;
}

.card-date-right {
  color: #888888;
  font-size: 12px;
}

.two-sections-container {
  display: flex;
}



